<div class = 'print sixteen columns'>
	<label >Title:</label><label id='title' > {{title}}</label>
	<p id='description' >{{{description}}}</p>
	<label >Type:</label><label id='type' > {{type}}</label>
</div><div class='edit '><div style='display:block;float:left;width:100%;'>
	<div style="display:block;width:100%">
	<button class='__done__' style="display:block;float:left;">Done</button>
	<button class="__delete__" id="{{id}}" style="display:block;float:right;">Drop Assignment</button>
	</div>
	<br><br><br>
	<label>Title: </label><input id='title' type='text' value = '{{title}}'></input>
	<label >Description: </label><textarea id='description' >{{{description}}}</textarea>
	<label>Type: </label><select id='type' selected='{{type}}'>
		<option value='{{type}}' label='Currently: {{type}}' selected='true'>
		<option value='Homework'>Homework</option>
		<option value='Practice'>Practice</option>
		<option value='Quiz'>Quiz</option>
		<option value='Test'>Test</option>
		<option value='Review'>Review</option>
	</select>
</div><button class='__done__'>Done</button></div>

<div id="{{id}}" class='view ' style='display:block;float:left;width:100%'>

<p id='title' title="{{{description}}}" style="cursor:default"> {{type}} : {{title}}</p>

<!--
<button class='__open_assignment__' id="{{id}}">Open</button>
-->
</div>