<div class = 'print sixteen columns'>
	<label >Title:</label><label id='title' > {{title}}</label>
	<label >Rank:</label><label id='rank' > {{rank}}</label>
	<p id='description' >{{{description}}}</p>
</div><div class='edit ' style="position:absolute;left:0px;top:0px;background:#6699ff;width:100%;height:100%"><div style='display:block;float:left;width:100%'>
<div style="display:block;width:100%">
	<button class='__done__' style="display:block;float:left;">Done</button>
	<button class="__delete__" id="{{id}}" style="display:block;float:right;">Drop Module</button>
	</div>
	<br><br><br>
	<label>Title: </label><input id='title' type='text' value = '{{title}}'></input>
	<label>Rank: </label><input id='rank' type='text' value = '{{rank}}'></input>
	<label >Description: </label><textarea id='description' >{{{description}}}</textarea>
</div><button class='__done__'>Done</button></div>

<div id="{{id}}" class='view ' style='display:block;float:left;width:100%'>
		<label>Title:</label><p id='title' title='{{description}}' style="cursor:default"> {{title}}</p>
<!--
<button class='__open_module__' id="{{id}}" style='float:right'>Open</button>
-->
</div>
<div id = "{{id}}" class = "list" style = 'display:block;float:left;width:100%'>
	<p class="ten columns " id='title' style="cursor:default" title="{{description}}" > {{title}}</p> <button class="add" value="Add Module" id="{{id}}">Add Module</button>
</div>
