<div class = 'print sixteen columns'>
	<label class='two columns'>Title:</label><label id='title' class='thirteen columns'> {{title}}</label>
	<p id='description' class='fourteen columns'>{{{description}}}</p>
</div><div class='edit sixteen columns'><div class='fourteen columns'>
	<label class='two columns'>Title: </label><input id='title' type='text' value = {{title}}></input>
	<textarea id='description' class='fourteen columns'>{{{description}}}<textarea>
</div><button class='__done__ one columns'>Done</button></div><div class='view sixteen columns'><div class='fourteen columns'>
	<label class='two columns'>Title:</label><label id='title' class='eleven columns'> {{title}}</label>
	<p id='description' class='sixteen columns'>{{{description}}}</p>
</div><button class='__edit__ one columns'>Edit</button></div>