<div class = 'print sixteen columns'>
	<label >Title:</label><label id='title' > {{title}}</label>
	<p id='question' >{{{question}}}</p>
</div><div class='edit '>
	<div style="display:block;width:100%">
	<button class='__done__' style="display:block;float:left;">Done</button>
	<button class="__delete__" id="{{id}}" style="display:block;float:right;">Drop Question</button>
	</div>
	<br><br><br>
	<div style='display:block;float:left;width:100%'>

	<label>Title: </label><textarea id='title' type='text' value = '{{title}}'>{{{title}}}</textarea>
	<label >Header: </label><textarea id='header' >{{{header}}}</textarea>
	<label >Question: </label><textarea id='question' >{{{question}}}</textarea>
	<label >Answer: </label><textarea id='answer' >{{{answer}}}</textarea>
	<label >Solution: </label><textarea id='solution' >{{{solution}}}</textarea>
	<label >Description: </label><textarea id='description' >{{{description}}}</textarea>
	<label>Answer_type: </label><select id='answer_type' selected='{{answer_type}}'>
		<option value='{{answer_type}}' label='Currently: {{answer_type}}' selected='true'>
		<option value='expression'>expression</option>
		<option value='number'>number</option>
		<option value='function'>function</option>
		<option value='matrix'>matrix</option>
		<option value='equation'>equation</option>
		<option value='array'>array</option>
		<option value='list'>list</option>
		<option value='tuple'>tuple</option>
		<option value='string'>string</option>
		<option value='character'>character</option>
		<option value='interval'>interval</option>
	</select>
	<label>Tags: </label><input id='tags' type='text' value = '{{tags}}'></input>
	<label >Graph_data: </label><textarea id='graph_data' >{{{graph_data}}}</textarea>
	<label>Placeholder: </label><input id='placeholder' type='text' value = '{{placeholder}}'></input>
	<label >Hint: </label><textarea id='hint' >{{{hint}}}</textarea>
	
</div><button class='__done__'>Done</button></div>
<div id="{{id}}" class='view ' title = "{{{description}}}"style='cursor:default;display:block;float:left;width:100%;position:relative;top:-18px;'>

{{{title}}}

<!--
	<button class='__open_question__' id="{{id}}" style='float:right'>Open</button>
	-->
</div>