<div class = 'print sixteen columns'>
	<label >Rank:</label><label id='rank' > {{rank}}</label>
	<p id='definition' >{{{definition}}}</p>
</div><div class='edit '><div style='display:block;float:left'>
	<label>Rank: </label><input id='rank' type='text' value = '{{rank}}'></input>
	<label >Definition: </label><textarea id='definition' >{{{definition}}}</textarea><form class='noactionupdate' action='/rest/Definition.entry.new/' method='POST'><input type='hidden' value='{{id}}'></input><input type='submit' value='Add New Glossary to Entry'></submit></form>
</div><button class='__done__ one columns'>Done</button></div><div class='view '><div style='display:block;float:left'>
	<label>Rank:</label><p id='rank'> {{rank}}</p>
	<label >Definition: </label><p id='definition'>{{{definition}}}</p>
</div><button class='__edit__ one columns'>Edit</button></div>