<div class = 'print sixteen columns'>
	<label >Title:</label><label id='title' > {{title}}</label>
	<p id='description' >{{{description}}}</p>
	<p id='content' >{{{content}}}</p>
	<p id='header' >{{{header}}}</p>
</div><div class='edit '><div style='display:block;float:left'>
	<label>Title: </label><input id='title' type='text' value = '{{title}}'></input>
	<label >Description: </label><textarea id='description' >{{{description}}}</textarea>
	<label >Content: </label><textarea id='content' >{{{content}}}</textarea>
	<label >Header: </label><textarea id='header' >{{{header}}}</textarea><form class='noactionupdate' action='/rest/Note.category_note.new/' method='POST'><input type='hidden' value='{{id}}'></input><input type='submit' value='Add New Category to Category_note'></submit></form><form class='noactionupdate' action='/rest/Note.lecture.new/' method='POST'><input type='hidden' value='{{id}}'></input><input type='submit' value='Add New Module to Lecture'></submit></form>
</div><button class='__done__ one columns'>Done</button></div><div class='view '><div style='display:block;float:left'>
	<label>Title:</label><p id='title'> {{title}}</p>
	<label >Description: </label><p id='description'>{{{description}}}</p>
	<label >Content: </label><p id='content'>{{{content}}}</p>
	<label >Header: </label><p id='header'>{{{header}}}</p>
</div><button class='__edit__ one columns'>Edit</button></div>